<%- include('_header'); -%>

<div class="box">
  <div class="field">
    <label class="label is-size-3 has-text-centered" for="filters--searchStr">I want to dispose of</label>
    <div class="control">
      <input class="input is-large has-text-centered" id="filters--searchStr" name="searchStr" type="search" />
    </div>
  </div>
</div>

<div id="container--searchResults"></div>

<%- include('_footerA'); -%>
<script src="<%= urlPrefix %>/lib/axios/axios.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/search.min.js"></script>
<%- include('_footerB'); -%>
